.form-group
  = f.label :magic_number
  = f.text_field :magic_number, { class: 'form-control', disabled: true, maxlength: 10, placeholder: 'Indicates block origin network. Defaults to 0xD9B4BEF9.', value: '0xD9B4BEF9' }

.form-group
  = f.label :mined_at
  = f.text_field :mined_at, { class: 'form-control', disabled: true, maxlength: 50, value: DateTime.now.utc }

.form-group
  = f.label :version
  = f.text_field :version, { class: 'form-control', maxlength: 50 }

.form-group
  = f.label 'Block Hash'
  = f.text_field :hash_curr_block, { class: 'form-control', maxlength: 50 }

.form-group
  = f.label 'Previous Block Hash'
  = f.text_field :hash_prev_block, { class: 'form-control', maxlength: 50 }

.form-group
  = f.label :rewarded_transaction_fee
  %span.input-group
    %span.input-group-addon $
    = f.text_field :rewarded_transaction_fee, { class: 'form-control', maxlength: 50 }

.form-group
  = f.label :rewarded_bitcoins
  %span.input-group
    %span.input-group-addon
      BTC
    = f.text_field :rewarded_bitcoins, { class: 'form-control', maxlength: 50 }

= f.hidden_field :_destroy
= link_to 'Remove Block', '#', class: 'remove_fields btn btn-danger'

%hr